.loginComponent{
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
}


.loginBox{
    width: 20%;
    height: 100px;
    border: 2px solid gray;
    margin: 0px auto 0px auto;
    padding: 20px;
    background-color: rgb(163, 215, 228)
    
}